html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Verdana, sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

h1{
  padding-top: 10px;
  font-family: Georgia, serif;
  color: #fff;
  text-shadow: .1em .1em .3em rgba(9, 9, 9, 2);
}
.top {
  padding-top: 10px;
}
.masthead {
  border-top: 2px solid #bea586;
  border-bottom: 2px solid #bea586;
  padding-top: 2px;
  padding-bottom: 3px;
}

.banner {
  background-image: url("../images/sloth.jpg");
  background-image: linear-gradient(to top, rgba(28, 14, 0, 0), rgba(28, 14, 0, .6) 150%), url("../images/sloth.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 214px
}
